
.inttext {
    padding-left: 30px;
    padding-right: 0px;
    padding-top: 100px;
    padding-bottom: 0px;
    background-color: rgba(54,54,54,0.5);
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-size: xx-large;
    float: left;
    width: 44.5%;
    height: 270px;
    margin-left: 150px;
    margin-top: 200px;
    border-radius: 25px;
}
table{
    margin-top:100px
}

h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}